.scrollButton {
  background-color: #fefb1e;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: -4px 3px #000;
  position: fixed;
  z-index: 1;
  top: 50%;
}

@media screen and (min-width: 650px) {
  .scrollButton {
    height: 5rem;
    width: 5rem;
  }
}
